@import "./app/./scss/abstracts/variables";
@import "./app/./scss/abstracts/mixins";
@import "./app/./scss/base/typography";
@import "./app/./scss/base/utilities";
@import "./app/./scss/base/grid";
@import "./app/./scss/base/animations";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    body {
        box-sizing: border-box;
    }
}